body {
  text-align: center;
  margin: 0;
  background: lightgreen;
}

.space {
  margin: 0 10px;
  text-decoration: underline;
}

button {
  padding: 6px 10px;
  margin-right: 8px;
  background: gray;
  color: white;
}

.round-message {
  font-weight: 800;
}